{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa muistiinpanoa {{note.otsikko}}</h1>

  <form method="post" action="{{base_path}}/note/{{note.id}}/edit">

    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" name="otsikko" class="form-control" value="{{note.otsikko}}">
    </div>
    
    <div class="form-group">
      <label>Kuvaus</label>
      <input type="text" name="kuvaus" class="form-control" value="{{note.kuvaus}}">
    </div>

    <div class="form-group">
      <label>Deadline</label>
      <input type="datetime" name="deadline" class="form-control" value="{{note.deadline}}">
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="valmis" id="optionsRadios1" value="true" {% if note.valmis %}checked{% endif %}>

        <label class="label label-success">Valmis</label>
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="valmis" id="optionsRadios2" value="false" {% if not note.valmis %}checked{% endif %}>
        <label class="label label-danger">kesken</label>
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
