{% extends "base.html" %}
{% block content %}
  <h1>Lisää uusi askare</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/note">
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" name="otsikko" class="form-control" value="{{note.otsikko}}">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <input type="text" name="kuvaus" class="form-control" value="{{note.kuvaus}}">
    </div>

    <div class="form-group">
      <label>Deadline </label><small>  syötä muodossa: vvvv-kk-pp hh:mm:ss - kellonaika ei ole pakollinen</small>
      <input type="text" name="deadline" class="form-control" value="{{note.deadline}}" placeholder="vvvv-kk-pp hh:mm:ss">
    </div>

    <div class="form-group">
      <label>Prioriteetti</label>
      <select class="form-control" name="prioriteetti">
        <option value="Ei tärkeä">Ei tärkeä</option>
        <option value="Normaali">Normaali</option>
        <option value="Tärkeä">Tärkeä</option>
        <option value="Kriittinen!">Kriittinen!</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
