{% extends "base.html" %}
{% block content %}
  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}

  <h1>{{note.otsikko}}</h1>

  <p>
    {{note.kuvaus}}
  </p>


  <ul>
    <li><strong>Takaraja :</strong>{{note.deadline}}</li>
    <li><strong>Prioriteetti: </strong>{{note.prioriteetti}}</li>
    {% if note.valmis %}
      <li><strong>Status: </strong> <label class="label label-success">Valmis</label></li>
    {% else %}
      <li><strong>Status: </strong> <label class="label label-danger">kesken</label></li>
    {% endif %}
    <li><strong>Lisäyspäivä: </strong> {{note.lisays_paiva}}</li>
    <li><strong>Luokat: </strong>
      {% for label in note.labels %}
        <label class="label label-info">{{label.nimi}}</label>
      {% endfor %}
  </ul>

  <p>
    <a href="{{base_path}}/note/{{note.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
  <form method="post" action="{{base_path}}/note/{{note.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
  </form>

{% endblock %}
