{% extends "base.html" %}
{% block content %}
<h1>Tervetuloa!<small> - Muistilista on pian käytettävissä.</small></h1>
<p class="lead">Muistilista tuo avun arjen askareiden hallintaan.</p>
<p>Paljon ominaisuuksia tuomaan helpotusta kiireen keskelle:
<ul><li>Pidä kirjaa tärkeistä tehtävistä ja tapahtumista</li>
  <li>Luokittele tehtävät haluamiisi luokkiin</li>
  <li>Aseta takaraja tehtävälle</li>
</ul>
</p>
<p><strong>Muistilista on vielä hieman kesken</strong><br/>
Pari esimerkkisivua:<br/>
<a href="job_list">Tehtävien listaus</a><br/>
<a href="job_edit">Tehtävien muokkaus</a><br/>
<a href="login">Kirjautuminen</a>
</p>

{% endblock %}
