{% extends "base.html" %}
{% block content %}
  <h1>Muistilista - Käyttäjien hallinta</h1>

  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}
  <p>
    <div class="row">
      <div class="col-sm-2"><a href="{{base_path}}/admin/new" class="btn btn-success">Lisää käyttäjä</a></div>
    </div>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
            <tr>
              <th>Id</th>
              <th>Tunnus</th>
              <th>Nimi</th>
              <th>Kuvaus</th>
              <th>num_notes</th>
              <th></th>
            </tr>
    </thead>

    <tbody>
      {% for user in users %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.tunnus}}</td>
              <td>{{user.nimi}}</td>
              <td>{{user.kuvaus}}</td>
              <td>{{user.num_notes}}</td>
              <td><a class="btn btn-default btn-sm" href="{{base_path}}/admin/{{user.id}}/edit">Muokkaa</a></td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
